* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Lora", "Playfair Display", serif;
}

header {
  background: #7c3901;
  background-image: url(./images/desk-1220056.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px;
}
header nav {
  display: flex;
  place-content: space-between;
  align-items: center;
}
header nav h3 {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
}
header nav img {
  width: 20px;
  height: 15px;
}
header .hide {
  position: absolute;
  top: 6.5%;
  right: 5%;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: end;
  display: none;
}
header .hide img {
  width: 20px;
  height: 20px;
  padding-bottom: 10px;
}
header .hide li {
  list-style: none;
  padding-top: 5px;
}
header .hide li a {
  text-decoration: none;
  color: #000;
}
header .hide li a:hover {
  color: #7c3901;
}
header .bod {
  color: #fff;
  padding: 80px 0 40px 0;
}
header .bod h1 {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
}
header .bod h1 span {
  font-size: 49px;
}

main {
  padding: 40px 20px;
}
main .bord {
  border: 1px solid #7c3901;
  padding: 30px;
}
main .bord .boar {
  display: none;
}
main .bord h1 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: 400;
  padding-top: 20px;
}
main .bord p {
  font-size: 15px;
  font-weight: 520;
  padding-top: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  height: 50vh;
  overflow-y: scroll;
}
main .bord p::-webkit-scrollbar {
  width: 0.4em;
}
main .bord p::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}
main .bord p::-webkit-scrollbar-thumb {
  background: #eceaea;
  border-radius: 100vw;
}

.hot {
  padding-top: 5%;
}
.hot h1 {
  padding: 0 0 5% 12%;
  font-family: "Playfair Display";
  font-size: 3em;
  font-weight: 400;
}
.hot .lead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40%;
}
.hot .lead .icon {
  text-align: center;
  font-size: 0.8em;
}
.hot img {
  width: 25%;
}

.card {
  padding: 100px 40px 0 40px;
}
.card h1 {
  font-size: 3em;
  font-family: "Playfair Display";
  font-weight: 400;
  padding-bottom: 30px;
}
.card .contain {
  display: grid;
}
.card .contain .card-di {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px 0;
}
.card .contain .card-di .out {
  width: 100%;
}
.card .contain .card-di .contin {
  padding: 50px 20px;
}
.card .contain .card-di .contin h2, .card .contain .card-di .contin h4 {
  font-weight: 400;
  padding-bottom: 10px;
}
.card .contain .card-di .contin p {
  font-size: 0.9em;
  padding-bottom: 10px;
}
.card .contain .card-di .contin p a {
  text-decoration: none;
  color: #000;
}
.card .contain .card-di .contin p a:hover {
  text-decoration: underline;
}
.card .contain .card-di .contin .bot {
  display: inline-block;
  padding: 4px 30px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #000;
  transition: 0.4s;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.card .contain .card-di .contin .bot:hover {
  color: rgb(255, 255, 255);
  font-weight: 300;
  background: #000;
  border-radius: 0;
}
.card .contain .card-di .contin img {
  width: 28px;
  float: right;
  padding-top: 27px;
  transition: 0.3s;
}
.card .contain .card-di .contin img:hover {
  width: 30px;
}

.sect {
  margin: 100px 0 0 0;
  background-color: #7c3901;
  background-image: url(./images/old-352478_640.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sect div {
  padding: 10px 60px;
}
.sect div h1 {
  font-family: "Playfair Display";
  font-size: 2em;
  color: #fff;
  font-weight: 300;
}
.sect div #cont {
  display: none;
}
.sect div form input, .sect div form textarea {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
  color: #fff;
}
.sect div form input:focus, .sect div form textarea:focus {
  border: 2px solid #f1f1f1;
  outline: none;
}
.sect div form label {
  padding-top: 30px;
  color: #fff;
  font-weight: 300;
}
.sect div form input, .sect div form label {
  display: block;
}
.sect div form button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  color: #fff;
}
.sect div form button:hover {
  background: #fff;
  color: #7c3901;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: 200;
  font-size: small;
}
footer p {
  display: inline;
}
footer img {
  width: 22px;
  padding: 0 5px;
  transition: transform 0.5s all;
}
footer img:hover {
  width: 23px;
}

#scroll {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  bottom: 20px;
  right: 20px;
  border: none;
  text-align: center;
  padding: 6px 8px 3px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
#scroll:hover {
  background: rgb(0, 0, 0);
}
#scroll img {
  width: 12px;
  height: 15px;
}

@media screen and (min-width: 700px) {
  main {
    padding: 40px;
  }
  main .bord {
    border: none;
    padding: 10px;
  }
  main .bord h1 {
    display: inline-block;
    border-top: 1px solid #7c3901;
    border-left: 1px solid #7c3901;
    padding: 10px;
  }
  main .bord p {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #7c3901;
    border-right: 1px solid #7c3901;
    height: 100%;
  }
  .card {
    padding: 100px 7% 0 7%;
  }
  .card .contain {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .card .contain .card-di {
    border-radius: 5px;
  }
  .card .contain .card-di .contin h2 {
    font-size: 20px;
  }
  .sect {
    background-size: 100% 100%;
  }
  .sect div h1 {
    font-size: 2.5em;
    padding: 20px 80px;
  }
  .sect div form {
    padding: 20px 80px;
  }
  .sect div form input, .sect div form textarea {
    width: 100%;
  }
  .sect div form label {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 900px) {
  header {
    background-size: 100%;
    padding: 40px 70px 70px 70px;
  }
  header nav .two {
    width: 50%;
  }
  header nav h3 {
    padding: 10px;
    font-size: 1.5em;
  }
  header nav img {
    display: none;
  }
  header .hide {
    position: static;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    display: block;
  }
  header .hide img {
    display: none;
  }
  header .hide ul {
    display: flex;
    place-content: space-between;
  }
  header .hide ul a {
    color: #fff;
    padding: 10px;
    transition: all 0.5s ease;
  }
  header .hide ul a:hover {
    color: #fff;
    border: 1px solid #fff;
  }
  header .bod {
    padding: 120px 0 40px 0;
  }
  header .bod h1 {
    font-size: 48px;
    line-height: 60px;
  }
  header .bod h1 span {
    font-size: 59px;
  }
  main {
    padding: 7%;
  }
  main .bord {
    padding: 10px;
    display: flex;
  }
  main .bord .bout:nth-child(1) {
    width: 50%;
    background: #000;
    text-align: center;
  }
  main .bord .bout:nth-child(1) .boar {
    display: block;
  }
  main .bord .bout:nth-child(1) .boar img {
    width: 30px;
    padding: 7px;
  }
  main .bord .bout:nth-child(1) h1 {
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 90px;
    padding: 150px 0 400px 0;
  }
  main .bord .bout:nth-child(2) {
    width: 50%;
    border: 1px solid #7c3901;
    border-left: none;
    padding: 50px 20px 20px 10px;
  }
  main .bord .bout:nth-child(2) p {
    border: none;
  }
  .hot {
    padding-top: 0;
  }
  .hot h1 {
    padding: 0 0 3% 10%;
    font-size: 3.5em;
  }
  .hot .lead {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60%;
  }
  .hot .lead .icon {
    font-size: 1em;
  }
  .sect {
    margin: 150px 0 0 0;
    position: relative;
  }
  .sect::before {
    content: "";
    color: #fff;
    position: absolute;
    width: 135px;
    height: 100%;
    background-color: #000;
    left: 100px;
    top: -5.5em;
    z-index: 1;
  }
  .sect div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sect div h1 {
    display: none;
  }
  .sect div #cont {
    position: absolute;
    top: -2em;
    left: 150px;
    display: block;
    z-index: 2;
    line-height: 35px;
    font-size: 2em;
    text-align: center;
    padding: 0;
  }
  .sect div form {
    grid-column: 2/4;
  }
  .sect div form label {
    font-size: 1.2em;
  }
  .sect div form button {
    background: rgb(255, 255, 255);
    color: #7c3901;
  }
  .sect div form button:hover {
    background: rgba(255, 255, 255, 0);
    color: #fff;
  }
}
@media screen and (min-width: 1100px) {
  main {
    padding: 7% 12%;
  }
  main .bord .bout:nth-child(1) {
    display: grid;
    grid-template-rows: 93% 7%;
  }
  main .bord .bout:nth-child(1) h1 {
    padding: 150px 0 350px 0;
  }
  main .bord .bout:nth-child(2) {
    width: 50%;
    border: none;
    border-left: none;
    padding: 100px 20px 0 0;
  }
  main .bord .bout:nth-child(2) p {
    border-top: 1px solid #7c3901;
    border-right: 1px solid #7c3901;
    border-bottom: 1px solid #7c3901;
    padding: 90px 20px 40px 20px;
    height: inherit;
  }
  .card {
    padding: 100px 12% 0 12%;
  }
  .card .contain {
    grid-template-columns: repeat(3, 1fr);
  }
  .sect {
    margin: 170px 0 0 0;
  }
  .sect::before {
    width: 160px;
    height: 110%;
    left: 150px;
    top: -6em;
  }
  .sect div {
    grid-template-columns: repeat(2, 1fr);
  }
  .sect div #cont {
    top: -1.8em;
    left: 210px;
    line-height: 40px;
    font-size: 2.5em;
    text-align: center;
    padding: 0;
  }
  .sect div form {
    padding: 20px 60px;
    grid-column: 2/3;
  }
}/*# sourceMappingURL=style.css.map */