* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Lora", "Playfair Display", serif;
}

header {
  background-image: url(../images/desk-1220056.jpg);
  background-repeat: no-repeat;
  background-size: 100% 51%;
  background-attachment: fixed;
  padding: 30px;
}
header nav {
  display: flex;
  place-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 30px;
  z-index: 999;
}
header nav .hide {
  position: absolute;
  top: 15px;
  right: 3%;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: end;
  display: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
}
header nav .hide img {
  width: 20px;
  height: 20px;
  padding-bottom: 10px;
}
header nav .hide li {
  list-style: none;
  padding-top: 5px;
}
header nav .hide li a {
  text-decoration: none;
  color: #000;
}
header nav .hide li a:hover {
  color: rgb(124, 57, 1);
}
header nav h3 {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}
header nav img {
  width: 20px;
  height: 15px;
}
header .navigation {
  background: url(../images/desk-1220056.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
header .bod {
  color: #fff;
  padding: 80px 0 40px 0;
}
header .bod h1 {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
}
header .bod h1 span {
  font-size: 49px;
}

#btn_resume {
  display: inline-flex;
  background: rgba(3, 2, 73, 0.8);
  color: rgb(245, 241, 241);
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

main {
  padding: 80px 20px 60px 20px;
}
main .bord {
  border: 1px solid #7c3901;
  padding: 30px;
}
main .bord .boar {
  display: none;
}
main .bord h1 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: 400;
  padding-top: 20px;
}
main .bord p {
  font-size: 15px;
  font-weight: 520;
  padding-top: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  height: 50vh;
  overflow-y: scroll;
}
main .bord p::-webkit-scrollbar {
  width: 0.4em;
}
main .bord p::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}
main .bord p::-webkit-scrollbar-thumb {
  background: #eceaea;
  border-radius: 100vw;
}

.hot {
  padding-top: 5%;
  margin-bottom: 100px;
}
.hot h1 {
  padding: 0 0 5% 12%;
  font-family: "Playfair Display";
  font-size: 3em;
  font-weight: 400;
}
.hot .lead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40%;
}
.hot .lead .icon {
  text-align: center;
  font-size: 0.8em;
}
.hot img {
  width: 25%;
  height: 50%;
}

.card,
.sectio {
  padding: 100px 40px 0 40px;
}
.card h1,
.sectio h1 {
  font-size: 3em;
  font-family: "Playfair Display";
  font-weight: 400;
  padding-bottom: 30px;
}
.card .contain,
.sectio .contain {
  display: grid;
}
.card .contain .card-di,
.sectio .contain .card-di {
  box-shadow: 3px 3px 5px 0 rgba(111, 78, 55, 0.3), -3px -3px 5px 0 rgba(111, 78, 55, 0.3);
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  transition: 0.6s;
}
.card .contain .card-di .out_div .out,
.sectio .contain .card-di .out_div .out {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card .contain .card-di .contin,
.sectio .contain .card-di .contin {
  padding: 10px 20px;
}
.card .contain .card-di .contin h2,
.sectio .contain .card-di .contin h2 {
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 5px;
}
.card .contain .card-di .contin h2 a,
.sectio .contain .card-di .contin h2 a {
  text-decoration: none;
  color: #000;
}
.card .contain .card-di .contin h2 a:hover,
.sectio .contain .card-di .contin h2 a:hover {
  text-decoration: underline;
}
.card .contain .card-di .contin p,
.sectio .contain .card-di .contin p {
  font-size: 0.8em;
  padding-bottom: 5px;
}
.card .contain .card-di .contin p a,
.sectio .contain .card-di .contin p a {
  text-decoration: none;
  color: #000;
}
.card .contain .card-di .contin p a:hover,
.sectio .contain .card-di .contin p a:hover {
  text-decoration: underline;
}
.card .contain .card-di .contin .icn,
.sectio .contain .card-di .contin .icn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .contain .card-di .contin .icn .bot,
.sectio .contain .card-di .contin .icn .bot {
  padding: 4px 30px;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #000;
  transition: 0.4s;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.card .contain .card-di .contin .icn .bot:hover,
.sectio .contain .card-di .contin .icn .bot:hover {
  color: rgb(255, 255, 255);
  font-weight: 300;
  background: #000;
  border-radius: 0;
}
.card .contain .card-di .contin .icn img,
.sectio .contain .card-di .contin .icn img {
  width: 28px;
  transition: 0.3s;
}
.card .contain .card-di .contin .icn img:hover,
.sectio .contain .card-di .contin .icn img:hover {
  width: 30px;
}
.card .display_page,
.card .disl,
.sectio .display_page,
.sectio .disl {
  display: inline-flex;
  background: rgba(3, 2, 73, 0.8);
  color: rgb(245, 241, 241);
  font-size: 0.8em;
  font-weight: 600;
  margin: 30px 0 0 0;
  padding: 10px 30px;
  float: right;
  cursor: pointer;
}

#all_works {
  margin-bottom: 9rem;
}
#all_works #btn_works {
  padding: 0px 20px 5px 20px;
  line-height: 25px;
}
#all_works #btn_works span {
  font-size: 1.5rem;
}

.display_section {
  display: none;
}

#resume {
  background: #f1f1f1;
  opacity: 0.9;
  padding: 90px 0 30px 0;
}
#resume button {
  display: flex;
  align-items: center;
  background: rgba(3, 2, 73, 0.8);
  color: rgb(245, 241, 241);
  font-size: 0.8em;
  font-weight: 600;
  margin: -70px 0 20px 30px;
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
}
#resume button img {
  padding-right: 10px;
}
#resume .cv_pdf {
  display: none;
}
#resume .cv_pdf img {
  width: 100%;
}
#resume .container_cv {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}
#resume .container_cv p,
#resume .container_cv li {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 25px;
}
#resume .container_cv .introd {
  background: #f2f2f2;
  padding: 20px 30px;
  margin: 30px 0;
}
#resume .container_cv .introd h1 {
  font-size: 3em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
#resume .container_cv .introd h1 span {
  font-weight: 200;
  padding-right: 20px;
}
#resume .container_cv .introd h3 {
  color: rgba(0, 0, 0, 0.8);
}
#resume .container_cv .gird {
  padding: 40px;
  position: relative;
}
#resume .container_cv .gird .cover_style img {
  display: none;
}
#resume .container_cv .gird .grid_container {
  display: grid;
  grid-template-columns: 45% 55%;
  background: #b6b0b0;
  grid-gap: 2px;
}
#resume .container_cv .gird .grid_container .grid_border {
  background: #fff;
  padding: 40px;
}
#resume .container_cv .gird .grid_container .grid_border h4 {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
}
#resume .container_cv .gird .grid_container .grid_border h2 {
  color: rgba(0, 0, 0, 0.8);
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) {
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .flex_container {
  padding-bottom: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .flex_container img {
  opacity: 0.8;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .flex_container a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .flex_container a:hover {
  text-decoration: underline;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .fll {
  margin-left: -3px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(1) .fill_img img {
  width: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(2) {
  padding-top: 0;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(2) h2 {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(3) {
  padding: 40px 0 10px 0;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(3) h2 {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(3) ul {
  padding-left: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(3) ul li {
  padding-bottom: 5px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/4;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) h2 {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) ul {
  padding-left: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) .experience {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) .experience .spec li {
  padding-bottom: 10px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(4) .experience strong {
  font-size: 0.9em;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(5) {
  padding-left: 0;
  padding-bottom: 0px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(5) h2 {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(5) .experience {
  padding-bottom: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(6) {
  padding-bottom: 0;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(6) h2 {
  padding-bottom: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(6) ul {
  padding-left: 20px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(6) ul li {
  padding-bottom: 10px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(6) ul li:last-child {
  padding-bottom: 0;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(7) {
  padding-bottom: 0;
  grid-column: 2/3;
  grid-row: 4/5;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(7) h2 {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(7) .experience {
  padding-bottom: 30px;
}
#resume .container_cv .gird .grid_container .grid_border:nth-child(7) .experience:nth-child(4) {
  padding-bottom: 0;
}

.sect {
  margin: 160px 0 0 0;
  background-color: #7c3901;
  background-image: url(../images/old-352478_640.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sect div {
  padding: 10px 60px;
}
.sect div h1 {
  font-family: "Playfair Display";
  font-size: 2em;
  color: #fff;
  font-weight: 300;
}
.sect div #cont {
  display: none;
}
.sect div form input,
.sect div form textarea {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
  color: #fff;
  resize: none;
}
.sect div form input:focus,
.sect div form textarea:focus {
  border: 2px solid #f1f1f1;
  outline: none;
}
.sect div form label {
  padding-top: 30px;
  color: #fff;
  font-weight: 300;
}
.sect div form input,
.sect div form label {
  display: block;
}
.sect div form input:-webkit-autofill,
.sect div form input:-webkit-autofill:hover,
.sect div form input:-webkit-autofill:focus,
.sect div form input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.sect div form button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  color: #fff;
}
.sect div form button:hover {
  background: #fff;
  color: #7c3901;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: 200;
  font-size: small;
}
footer p {
  display: inline;
}
footer img {
  width: 22px;
  padding: 0 5px;
  transition: transform 0.5s all;
}
footer img:hover {
  width: 23px;
}

.body_alert {
  position: fixed;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
}
.body_alert .modal_alert {
  background: url(./images/key.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  height: 30%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.body_alert .modal_alert p {
  font-size: 1.2em;
  font-weight: 200;
}
.body_alert .modal_alert button {
  border: 1px solid #fff;
  padding: 7px 40px;
  background: none;
  color: #fff;
  border-radius: 25px;
  margin-top: 30px;
  transition: 0.3s;
}
.body_alert .modal_alert button:hover {
  box-shadow: 0px 5px 0px #fff;
  margin-top: 25px;
  margin-bottom: 5px;
}

#scroll {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  bottom: 20px;
  right: 20px;
  border: none;
  text-align: center;
  padding: 6px 8px 3px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
#scroll:hover {
  background: rgb(0, 0, 0);
}
#scroll img {
  width: 12px;
  height: 15px;
}

@media screen and (min-width: 700px) {
  header {
    background-size: 100%;
    padding: 40px;
  }
  header nav {
    padding: 15px 40px;
  }
  #btn_resume {
    font-size: 0.9em;
    margin-left: 50px;
    padding: 10px 40px;
  }
  main {
    padding: 40px;
  }
  main .bord {
    border: none;
    padding: 10px;
  }
  main .bord h1 {
    display: inline-block;
    border-top: 1px solid #7c3901;
    border-left: 1px solid #7c3901;
    padding: 10px;
  }
  main .bord p {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #7c3901;
    border-right: 1px solid #7c3901;
    height: 100%;
  }
  .hot {
    margin-bottom: 150px;
  }
  .card,
  #all_works {
    padding: 100px 7% 0 7%;
  }
  .card .contain,
  #all_works .contain {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .card #btn_works,
  #all_works #btn_works {
    font-size: 0.9em;
    padding: 10px 40px;
  }
  #resume button {
    margin: -70px 0 20px 5%;
  }
  #resume .container_cv {
    width: 620px;
  }
  #resume .container_cv .introd h1 {
    font-size: 4em;
  }
  #resume .container_cv .gird .cover_style img {
    position: absolute;
    display: block;
  }
  #resume .container_cv .gird .cover_style img:nth-child(1) {
    left: 44.9%;
    top: 23.8%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(2) {
    left: 44.9%;
    top: 46.2%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(3) {
    left: 44.9%;
    top: 72.8%;
  }
  .sect {
    background-size: 100% 100%;
  }
  .sect div h1 {
    font-size: 2.5em;
    padding: 20px 80px;
  }
  .sect div form {
    padding: 20px 80px;
  }
  .sect div form input,
  .sect div form textarea {
    width: 100%;
  }
  .sect div form label {
    font-size: 1.1em;
  }
  .body_alert .modal_alert {
    width: 40%;
  }
  .body_alert .modal_alert p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 900px) {
  header {
    background-size: 100%;
    padding: 30px 70px 45px 70px;
  }
  header nav {
    padding: 10px 70px;
  }
  header nav .hide {
    position: static;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    display: block;
    box-shadow: none;
  }
  header nav .hide img {
    display: none;
  }
  header nav .hide ul {
    display: flex;
    place-content: space-between;
  }
  header nav .hide ul li {
    transition: 0.3s;
  }
  header nav .hide ul li a {
    color: #fff;
    padding: 10px;
  }
  header nav .hide ul li a:hover {
    color: #fff;
  }
  header nav .hide ul li:hover {
    border-bottom: 1px solid #fff;
  }
  header nav .two {
    width: 50%;
  }
  header nav h3 {
    padding: 10px;
    font-size: 1.5em;
  }
  header nav img {
    display: none;
  }
  header .bod {
    padding: 190px 0 40px 0;
  }
  header .bod h1 {
    font-size: 48px;
    line-height: 60px;
  }
  header .bod h1 span {
    font-size: 59px;
  }
  #btn_resume {
    margin-left: 70px;
    padding: 15px 50px;
  }
  main {
    padding: 7%;
  }
  main .bord {
    padding: 10px;
    display: flex;
  }
  main .bord .bout:nth-child(1) {
    width: 50%;
    background: #000;
    text-align: center;
  }
  main .bord .bout:nth-child(1) .boar {
    display: block;
  }
  main .bord .bout:nth-child(1) .boar img {
    width: 30px;
    padding: 7px;
  }
  main .bord .bout:nth-child(1) h1 {
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 90px;
    padding: 150px 0 400px 0;
  }
  main .bord .bout:nth-child(2) {
    width: 50%;
    border: 1px solid #7c3901;
    border-left: none;
    padding: 50px 20px 20px 10px;
  }
  main .bord .bout:nth-child(2) p {
    border: none;
  }
  .hot {
    padding-top: 0;
  }
  .hot h1 {
    padding: 0 0 3% 10%;
    font-size: 3.5em;
  }
  .hot .lead {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60%;
  }
  .hot .lead .icon {
    font-size: 1em;
  }
  .card .display_page {
    padding: 15px 50px;
  }
  .sectio #btn_works {
    padding: 0;
  }
  #resume button {
    margin: -70px 15% 0 0;
    float: right;
  }
  #resume .container_cv {
    width: 690px;
  }
  #resume .container_cv .introd h1 {
    font-size: 4.5em;
  }
  #resume .container_cv .gird .cover_style img:nth-child(1) {
    top: 24.8%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(2) {
    top: 46.2%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(3) {
    top: 71.7%;
  }
  .sect {
    margin: 250px 0 0 0;
    position: relative;
  }
  .sect::before {
    content: "";
    color: #fff;
    position: absolute;
    width: 135px;
    height: 100%;
    background-color: #000;
    left: 100px;
    top: -5.5em;
    z-index: 1;
  }
  .sect div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sect div h1 {
    display: none;
  }
  .sect div #cont {
    position: absolute;
    top: -2em;
    left: 150px;
    display: block;
    z-index: 2;
    line-height: 35px;
    font-size: 2em;
    text-align: center;
    padding: 0;
  }
  .sect div form {
    grid-column: 2/4;
  }
  .sect div form label {
    font-size: 1.2em;
  }
  .sect div form button {
    background: rgb(255, 255, 255);
    color: #7c3901;
  }
  .sect div form button:hover {
    background: rgba(255, 255, 255, 0);
    color: #fff;
  }
}
@media screen and (min-width: 1100px) {
  main {
    padding: 7% 12%;
  }
  main .bord .bout:nth-child(1) {
    display: grid;
    grid-template-rows: 93% 7%;
  }
  main .bord .bout:nth-child(1) h1 {
    padding: 150px 0 350px 0;
  }
  main .bord .bout:nth-child(2) {
    width: 50%;
    border: none;
    border-left: none;
    padding: 100px 20px 0 0;
  }
  main .bord .bout:nth-child(2) p {
    border-top: 1px solid #7c3901;
    border-right: 1px solid #7c3901;
    border-bottom: 1px solid #7c3901;
    padding: 90px 20px 40px 20px;
    height: inherit;
  }
  .hot {
    margin-bottom: 200px;
  }
  .card,
  #all_works {
    padding: 100px 12% 0 12%;
  }
  .card .contain,
  #all_works .contain {
    grid-template-columns: repeat(3, 1fr);
  }
  #resume button {
    margin: -70px 20% 0 0;
  }
  #resume .container_cv {
    width: 800px;
  }
  #resume .container_cv .gird .cover_style img:nth-child(1) {
    top: 18.6%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(2) {
    top: 42%;
  }
  #resume .container_cv .gird .cover_style img:nth-child(3) {
    top: 70.1%;
  }
  #resume .container_cv .gird .grid_container .grid_border:nth-child(1) .flex_container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sect::before {
    width: 160px;
    height: 110%;
    left: 150px;
    top: -6em;
  }
  .sect div {
    grid-template-columns: repeat(2, 1fr);
  }
  .sect div #cont {
    top: -1.8em;
    left: 210px;
    line-height: 40px;
    font-size: 2.5em;
    text-align: center;
    padding: 0;
  }
  .sect div form {
    padding: 20px 60px;
    grid-column: 2/3;
  }
  .body_alert .modal_alert {
    width: 30%;
  }
}
@media print {
  #body * {
    display: none;
  }
  #body * .cv_pdf,
  #body * .cv_pdf * {
    display: block;
  }
  #body * .cv_pdf .imgg,
  #body * .cv_pdf * .imgg {
    position: absolute;
    top: 0;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */